pipeline/LoadfromlaketoSQL.json
{
	"name": "LoadfromlaketoSQL",
	"properties": {
		"activities": [
			{
				"name": "Copy from Data Lake credits to SQL credits",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "pipelineId",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							{
								"name": "source_filename",
								"value": "$$FILEPATH"
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"wildcardFolderPath": "movies",
							"wildcardFileName": "credits*.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE [stg].[credits]",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "cast"
								},
								"sink": {
									"name": "cast"
								}
							},
							{
								"source": {
									"name": "crew"
								},
								"sink": {
									"name": "crew"
								}
							},
							{
								"source": {
									"name": "id"
								},
								"sink": {
									"name": "id"
								}
							},
							{
								"source": {
									"name": "pipelineId"
								},
								"sink": {
									"name": "pipelineId"
								}
							},
							{
								"source": {
									"name": "source_filename"
								},
								"sink": {
									"name": "source_filename"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "source_datalake_07032023_credits",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "target_SQL_stg_credits",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy from Data Lake metadata to SQL metadata",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy from Data Lake credits to SQL credits",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "raw/movies/movies_metadata_20230306142007.csv"
					},
					{
						"name": "Destination",
						"value": "stg.movies_metadata"
					}
				],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "pipelineId",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							{
								"name": "source_filename",
								"value": "$$FILEPATH"
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"wildcardFolderPath": "movies",
							"wildcardFileName": "movies_metadata*.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE [stg].[movies_metadata]",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "adult",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "adult",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "belongs_to_collection",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "belongs_to_collection",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "budget",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "budget",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "genres",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "genres",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "homepage",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "homepage",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "id",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "imdb_id",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "imdb_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "original_language",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "original_language",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "original_title",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "original_title",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "overview",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "overview",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "popularity",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "popularity",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "poster_path",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "poster_path",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "production_companies",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "production_companies",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "production_countries",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "production_countries",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "release_date",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "release_date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "revenue",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "revenue",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "runtime",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "runtime",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "spoken_languages",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "spoken_languages",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "status",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "status",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tagline",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "tagline",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "title",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "title",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "video",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "video",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "vote_average",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "vote_average",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "vote_count",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "vote_count",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "pipelineId"
								},
								"sink": {
									"name": "pipelineId",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "source_filename",
									"type": "String"
								},
								"sink": {
									"name": "source_filename",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "source_datalake_07032023_metadata",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "target_SQL_stg_metadata",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy from Data Lake ratings to SQL",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy from Data Lake metadata to SQL metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "raw/movies/ratings*.csv"
					},
					{
						"name": "Destination",
						"value": "stg.ratings"
					}
				],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "pipelineId",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							{
								"name": "source_filename",
								"value": "$$FILEPATH"
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"wildcardFolderPath": "movies",
							"wildcardFileName": "ratings*.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE [stg].[ratings]",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "userId",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "userId",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "movieId",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "movieId",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "rating",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "rating",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "timestamp",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "timestamp",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "pipelineId",
									"type": "String"
								},
								"sink": {
									"name": "pipelineId",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "source_filename",
									"type": "String"
								},
								"sink": {
									"name": "source_filename",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "storage_ratings_new",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "target_stg_ratings",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "LookupforSP",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Copy from Data Lake ratings to SQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Json_for_SP",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachforSP",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupforSP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupforSP').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Stored procedure List",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@item().ProcedureName",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabaseLinkedService",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-03-10T15:31:49Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}