pipeline/Module9_copy1.json
{
	"name": "Module9_copy1",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select * from etl.tControlMetadata\n\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Stored procedure1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Module9_CopyforEach",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"FileName": {
										"value": "@item().FileName",
										"type": "Expression"
									},
									"ColumnDelimiter": {
										"value": "@item().ColumnDelimiter",
										"type": "Expression"
									},
									"Encoding": {
										"value": "@item().Encoding",
										"type": "Expression"
									},
									"EscapeCharacter": {
										"value": "@item().EscapeCharacter",
										"type": "Expression"
									},
									"QuoteCharacter": {
										"value": "@item().QuoteCharacter",
										"type": "Expression"
									},
									"DestinationSchema": {
										"value": "@item().DestinationSchema",
										"type": "Expression"
									},
									"DestinationTable": {
										"value": "@item().DestinationTable",
										"type": "Expression"
									},
									"DIUValue": {
										"value": "@item().DIUValue",
										"type": "Expression"
									},
									"Mapping": {
										"value": "@item().Mapping",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[TruncateTables]"
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseLinkedService",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-04-19T14:58:05Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}