pipeline/Module7_Foreach_onejson_file.json
{
	"name": "Module7_Foreach_onejson_file",
	"properties": {
		"activities": [
			{
				"name": "GetFileList",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Filename",
						"value": "000679bbbe4c44f5b35e5cbc3361e7b1"
					}
				],
				"typeProperties": {
					"dataset": {
						"referenceName": "Target_onejson",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEachFileName",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetFileList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFileList').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "GetFileMetadata",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(activity('GetFileMetadata').output.lastModified, variables('maxTime'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "maxTime",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "maxTime",
											"value": {
												"value": "@activity('GetFileMetaData').output.lastModified",
												"type": "Expression"
											}
										}
									},
									{
										"name": "File Name",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "maxTime",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"variableName": "filename",
											"value": {
												"value": "@activity('GetFileMetadata').output.itemName",
												"type": "Expression"
											}
										}
									}
								]
							}
						},
						{
							"name": "GetFileMetadata",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "target_onejson_for_metadata",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"lastModified",
									"itemName"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							}
						}
					]
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ForEachFileName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@variables('maxTime')",
								"type": "Expression"
							},
							"wildcardFileName": "*",
							"deleteFilesAfterCompletion": false
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "source_onejson",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Target_onejson",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "FinalTime",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "finalTime",
					"value": {
						"value": "@variables('maxTime')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"TargetFileName": {
				"type": "String"
			},
			"Filename": {
				"type": "String"
			}
		},
		"variables": {
			"maxTime": {
				"type": "String",
				"defaultValue": "2023-03-22T10:28:14Z"
			},
			"filename": {
				"type": "String"
			},
			"finalTime": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-03-23T12:46:04Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}