pipeline/Module9_CopyforEach.json
{
	"name": "Module9_CopyforEach",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "pipelineId",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							{
								"name": "source_filename",
								"value": "$$FILEPATH"
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"wildcardFolderPath": "meta-driven",
							"wildcardFileName": {
								"value": "@pipeline().parameters.FileName",
								"type": "Expression"
							},
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": true,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"dataIntegrationUnits": 4,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "source_foreach_datalake",
						"type": "DatasetReference",
						"parameters": {
							"FileName": {
								"value": "@pipeline().parameters.FileName",
								"type": "Expression"
							},
							"ColumnDelimiter": {
								"value": "@pipeline().parameters.ColumnDelimiter",
								"type": "Expression"
							},
							"Encoding": {
								"value": "@pipeline().parameters.Encoding",
								"type": "Expression"
							},
							"EscapeCharacter": {
								"value": "@pipeline().parameters.EscapeCharacter",
								"type": "Expression"
							},
							"QuoteCharacter": {
								"value": "@pipeline().parameters.QuoteCharacter",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Target_Module9",
						"type": "DatasetReference",
						"parameters": {
							"DestinationSchema": {
								"value": "@pipeline().parameters.DestinationSchema",
								"type": "Expression"
							},
							"DestinationTable": {
								"value": "@pipeline().parameters.DestinationTable",
								"type": "Expression"
							},
							"DIUValue": {
								"value": "@pipeline().parameters.DIUValue",
								"type": "Expression"
							},
							"Mapping": {
								"value": "@pipeline().parameters.Mapping",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[etl].[InsertLogDataIntoNewTable]",
					"storedProcedureParameters": {
						"DIU": {
							"value": {
								"value": "@activity('Copy data1').output.copyDuration",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"EndTime": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"MeterType": {
							"value": {
								"value": "@activity('Copy data1').output.billingReference.billableDuration[0].meterType",
								"type": "Expression"
							},
							"type": "String"
						},
						"NumCopied": {
							"value": {
								"value": "@activity('Copy data1').output.filesRead",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"NumProcessed": {
							"value": {
								"value": "@activity('Copy data1').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"NumRead": {
							"value": {
								"value": "@activity('Copy data1').output.rowsRead",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"ParallelCopies": {
							"value": {
								"value": "@activity('Copy data1').output.usedParallelCopies",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"QueueDuration": {
							"value": {
								"value": "@activity('Copy data1').output.executionDetails[0].profile.queue.duration",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"StartTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"Status": {
							"value": {
								"value": "@activity('Copy data1').output.executionDetails[0].profile.transfer.status",
								"type": "Expression"
							},
							"type": "String"
						},
						"TransferDuration": {
							"value": {
								"value": "@activity('Copy data1').output.executionDetails[0].profile.transfer.duration",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Unit": {
							"value": {
								"value": "@activity('Copy data1').output.billingReference.billableDuration[0].unit",
								"type": "Expression"
							},
							"type": "String"
						},
						"Duration": {
							"value": {
								"value": "@activity('Copy data1').output.billingReference.billableDuration[0].duration",
								"type": "Expression"
							},
							"type": "Decimal"
						},
						"CopyDuration": {
							"value": {
								"value": "@activity('Copy data1').output.copyDuration",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseLinkedService",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Stored procedure2",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[etl].[Insert_Pipeline_Error_Details]",
					"storedProcedureParameters": {
						"Activity_Name": {
							"value": {
								"value": "@activity('Copy data1').output.billingReference.activityType",
								"type": "Expression"
							},
							"type": "String"
						},
						"Datetime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"Error_Code": {
							"value": {
								"value": "@activity('Copy data1').output.errors[0].Code",
								"type": "Expression"
							},
							"type": "String"
						},
						"Error_Message": {
							"value": {
								"value": "@activity('Copy data1').output.errors[0].Message",
								"type": "Expression"
							},
							"type": "String"
						},
						"Failure_Type": {
							"value": {
								"value": "@activity('Copy data1').output.errors[0].EventType\n\n\n\n\n\n",
								"type": "Expression"
							},
							"type": "String"
						},
						"Pipeline_Name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"Run_ID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseLinkedService",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"FileName": {
				"type": "string"
			},
			"ColumnDelimiter": {
				"type": "string"
			},
			"Encoding": {
				"type": "string"
			},
			"EscapeCharacter": {
				"type": "string"
			},
			"QuoteCharacter": {
				"type": "string"
			},
			"DestinationSchema": {
				"type": "string"
			},
			"DestinationTable": {
				"type": "string"
			},
			"DIUValue": {
				"type": "string"
			},
			"Mapping": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-04-20T10:40:53Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}